.coverage
.cache
todo.txt
dd/_version.py
cython_debug/*
cudd*/*
extern/
dd/CUDD_LICENSE
dd/GLIBC_COPYING.LIB
dd/GLIBC_LICENSES
dd/PYTHON_LICENSE
sylvan/
.DS_Store
._.DS_Store
*.out
*parsetab.py
*.c
__pycache__
*.pyc
*.whl
*.pdf
*.png
*.svg
*.txt
*.p
*.json
*.dddmp
*.so
*.html
*.tar.gz
dist/*
build/*
*.egg-info
*.swp
*.tags
*.xml
