include README.md
include LICENSE
include doc.md
include CHANGES.md
include AUTHORS
include requirements.txt
include download.py
include tests/README.md
include tests/pytest.ini
include tests/inspect_cython_signatures.py
include tests/common.py
include tests/common_bdd.py
include tests/common_cudd.py
include tests/*_test.py
include tests/sample*.dddmp
include examples/README.md
include examples/*.py
include examples/*.sh
include dd/py.typed
include dd/*.pyx
include dd/*.pxd
include dd/*.c
include dd/CUDD_LICENSE
include dd/GLIBC_COPYING.LIB
include dd/GLIBC_LICENSES
include dd/PYTHON_LICENSE
