include README.md
include LICENSE
include doc.md
include CHANGES.md
include AUTHORS
include requirements.txt
include download.py
include tests/*_test.py
include tests/sample*.txt
include examples/*.py
include dd/*.pyx
include dd/*.pxd
include dd/*.c
exclude dd/_setup.py
